<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
    <a routerLink="/routingEx" routerLinkActive="active"><button>라우팅</button></a>
    <a routerLink="/ViewChild" routerLinkActive="active"><button>ViewChild</button></a>
    <a routerLink="/viewchildren" routerLinkActive="active"><button>ViewChildren</button></a>
    <a routerLink="/FriendList" routerLinkActive="active"><button>Component 1.0</button></a><br />
    <a routerLink="/ParentFriend" routerLinkActive="active"><button>Component 2.0</button></a>
    <a routerLink="/RxjsComponent" routerLinkActive="active"><button>Rxjs service</button></a>
    <a routerLink="/RxjsLoginComponent" routerLinkActive="active"><button>Rxjs Login</button></a>
    <a routerLink="/ContentChildComponent" routerLinkActive="active"><button>ContentChild</button></a>

  <!-- <routing-ex></routing-ex> -->
  <!-- <app-view-child></app-view-child> -->
  <!-- <app-view-children></app-view-children> -->
  <!-- <my-friend-component></my-friend-component> -->
  <!-- <parent-friend></parent-friend> -->
  <!-- <rx-component></rx-component>
  <rxjs-component-login></rxjs-component-login> -->
  <!-- <app-content-child></app-content-child> -->
  <router-outlet></router-outlet>
</div>
